@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
.container{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#1E1C1C;
    font-family: sans-serif;
}
.container h1{
    margin-bottom:4rem;
    color:white;
}
.counter-container{
    height:40%;
    width:40%;
    border:2px solid white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 3px 50px -6px rgba(158,149,158,1);
    -moz-box-shadow: -1px 3px 50px -6px rgba(158,149,158,1);
    box-shadow: -1px 3px 50px -6px rgba(158,149,158,1);
    
    
}
 #counter-display{
    height:30%;
    width:50%;
    border:2px solid cyan;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.7rem;
}
.counter-container .operations{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height:55%;
    width:100%;
    margin-top:2rem;
}
.counter-container .operations .add{
    height:40%;
    width:20%;
    border:2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.7rem;
    margin-top: 1.5rem;
    transition: ease-in-out 0.5s;
}
.counter-container .operations .add:hover{
    cursor: pointer;
    background-color: deepskyblue;
    color:#1E1C1C;
    border-color: cornsilk;

}
.sub{
    height:40%;
    width:20%;
    border:2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.7rem;
    margin-top: 1.5rem;
    transition: ease-in-out 0.5s;
}

.sub:hover{
    cursor: pointer;
    background-color: deepskyblue;
    color:#1E1C1C;
    border-color: cornsilk;
}

@media screen and (max-width:415px){
    .counter-container{
        height:60%;
        width:95%;
    }
}



